<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-md-3">
        <h2>Sidebar</h2>
      </div>  
      <main role="main" class="col-md-9">
        <h1>Channels</h1>
        <% var users = locals.channels.users %>
        <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
          <input type="text" class="form-control" name="name" placeholder="Display Name" value="">
          <input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
          <% if (users) { %>
            <% users.forEach(function(user) { %>
              <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
              <p><%= user.name %></p>
            <% }) %>
          <% } %>
          <button id="update" type="submit">Create</button>
        </form>
      </main>

    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>